<?xml version="1.1" encoding="UTF-8"?>
<!--
Atencao:
- Na propriedade CANAL, substituir o valor <nome_canal> pelo canal da aplicacao em minusculo (ex.: value="intranet", value="tfweb", value="mobilepf").
- Na propriedade NOME_APL, substituir o valor <nome_aplicacao> pelo nome da aplicacao em minusculo (ex.: value="eint", value="eint_tela_componente", value="eint_investimentos").
- No logger da aplicacao (APL LOGGER), substituir <cccc> (no final do pacote) pelo centro de custo da aplicacao em minusculo (ex.: br.com.bradesco.web.eint).
-->

<configuration>

	<!--PROPERTIES-->
	<property name="DIR_LOG" value="suportedbdc_logs"/>
	<property name="CANAL" value="intranet"/>
	<property name="NOME_APL" value="ricc"/>

	<!--FILE-ROLLING APPENDER-->
	<appender name="FILE-rolling" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/${DIR_LOG}/${CANAL}/${NOME_APL}/${NOME_APL}.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>/${DIR_LOG}/${CANAL}/${NOME_APL}/${NOME_APL}.%d{yyyy-MM-dd}.%i.log</FileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<maxHistory>2</maxHistory>
			<cleanHistoryOnStart>true</cleanHistoryOnStart>
		</rollingPolicy>
		<Append>true</Append>
		<layout class="br.com.bradesco.web.aq.application.log.impl.layout.BradescoPatternLayout">
			<commonLayoutPattern>[%d] [%p] [%t] [%S] [%U] [%I] [%N] [%c] [%m] %n</commonLayoutPattern>
		</layout>
	</appender>

	<!--APL LOGGER-->
	<logger name="br.com.bradesco.web.ricc" additivity="false">
		<level value="error"/>
		<appender-ref ref="FILE-rolling"/>
	</logger>

	<!--AWB LOGGER-->
	<logger name="br.com.bradesco.web.aq" additivity="false">
		<level value="error"/>
		<appender-ref ref="FILE-rolling"/>
	</logger>

	<!--AWB CONNECTORS LOGGER-->
	<logger name="br.com.bradesco.data.connector" additivity="false">
		<level value="error"/>
		<appender-ref ref="FILE-rolling"/>
	</logger>

	<!--FACES LOGGER-->
	<logger name="javax.faces" additivity="false">
		<level value="error"/>
		<appender-ref ref="FILE-rolling"/>
	</logger>

	<!--MYFACES LOGGER-->
	<logger name="org.apache.myfaces" additivity="false">
		<level value="error"/>
		<appender-ref ref="FILE-rolling"/>
	</logger>

	<!--ROOT LOGGER-->
	<root>
		<level value="error"/>
		<appender-ref ref="FILE-rolling"/>
	</root>

</configuration>