.rf-tab-hdr-spcr {
	background-image:url(../imagens/backgroud_header_grid.gif); 
    background-repeat: repeat-x;
	height: 19px;
	font-family: verdana;
	font-size: 10px;
	font-weight:bold;
	text-align: left;
	padding-left: 9px;
	padding-right: 9px;
	padding-top: 4px;
	color: #000000;
	text-decoration: none;
	border-style: solid;
	border-width: 0px;
	border-color: #eeeeee;
}
.rf-tab-hdr-spcr:hover {
	background-image:url(../imagens/backgroud_header_grid_mouseover.gif); 
    background-repeat: repeat-x;
	background-color:#930000;
	height: 19px;
	font-family: verdana;
	font-size: 10px;
	text-align: left;
	padding-left: 9px;
	padding-right: 9px;
	padding-top: 4px;
	color: #ffffff;
	text-decoration: none;
	border-style: solid;
	border-width: 0px;
	border-color: #ff6464;
	cursor:pointer;
}

.rf-tab-hdr-spcr:body {
	font-family: verdana;
	font-size: 10px;
	text-align: left;

	}