/* =========== ESTRUTURAS BÁSICAS =========== */
.jqmOverlay {background-color:#FFFF; position: absolute !important;}
* iframe.jqm {position:absolute;top:0;left:0;z-index:-1;width: expression(this.parentNode.offsetWidth+'px');height: expression(this.parentNode.offsetHeight+'px');}

.jqmWindow {font-size:90%;display:none;position:absolute;width:610px;}
.jqmWindow .topo,
.jqmWindow .base {width:100%;height:9px;position:relative;}
.jqmWindow .topo .tl,
.jqmWindow .topo .tr,
.jqmWindow .topo .tc,
.jqmWindow .base .bl,
.jqmWindow .base .br,
.jqmWindow .base .bc {background-image:url(../../images/modal/bgr_modal.gif);display:block;height:9px;}
.jqmWindow .topo .tl,
.jqmWindow .topo .tr {background-position:0 0;background-repeat:no-repeat;width:9px;position:absolute;top:0;left:0;}
.jqmWindow .topo .tr {background-position:-9px 0;right:0;left:auto;}
.jqmWindow .topo .tc,
.jqmWindow .base .bc {background-position:0 -18px;background-repeat:repeat-x;margin:0 9px;}
.jqmWindow .base .bc {background-position:0 -27px;}
.jqmWindow .base .bl,
.jqmWindow .base .br {background-position:0 -9px;background-repeat:no-repeat;width:9px;position:absolute;top:0;left:0;}
.jqmWindow .base .br {background-position:-9px -9px;right:0;left:auto;}

.jqmWindow .miolo {background:#FFF;width:100%;}
.jqmWindow .miolo .cabecalho {padding:0 0 10px 20px;}
.jqmWindow .miolo .cabecalho .icoFechar {background:url(../../images/modal/bgr_modal.gif) -21px 0 no-repeat;display:inline-block;float:right;margin-right:10px;width:17px;height:17px;}
.jqmWindow .miolo .cabecalho .icoFechar a {display:block;text-indent:-9999px;height:17px;}
.jqmWindow .miolo .cabecalho h6 {color:#CC092F;font-size:163%;line-height:150%;}
.jqmWindow .miolo .cabecalho h6 a {color:#CC092F;cursor:default;text-decoration:none;}
.jqmWindow .miolo .conteudo,
.mod2 .conteudo {background:#FFF url(../../images/modal/bgr_modal.gif) 0 -51px repeat-x;padding:15px 20px 0 20px;position:relative;clear:both;}
.mod2 .conteudo {background-color:#FFF !important;}
.jqmWindow .miolo .conteudo .sombra {background:url(../../images/modal/bgr_modal.gif) 0 -36px repeat-x;width:33px;height:15px;position:absolute;top:0;left:0;}
.jqmWindow .miolo .conteudo p {line-height:140%;}

.jqmWindow .abas {background:url(../../images/modal/bgr_aba.jpg) left bottom repeat-x;padding:10px 0 0 20px;height:1%;}
.jqmWindow .abas li {float:left;padding:8px 0;}
.jqmWindow .abas li a,
.jqmWindow .abas li.on a {background-image:url(../../images/modal/bgr_aba_item.jpg);background-position:0 -32px;*background-position:0 -23px;background-repeat:no-repeat;padding:9px 0 8px 20px;}
.jqmWindow .abas li.on a {background-position:0 0;*background-position:0 10px;}
.jqmWindow .abas li a {cursor:pointer;}
.jqmWindow .abas li a span,
.jqmWindow .abas li.on a span {background-image:url(../../images/modal/bgr_aba_item.jpg);background-position:right -32px;*background-position:right -32px;background-repeat:no-repeat;font-size:112%;padding:8px 35px 8px 0;}
.jqmWindow .abas li.on a span {background-position:right 0;*background-position:right 1px;font-weight:bold;}

.bgImgNone{background-image:none !important;}

/* Filtro Modal */
#modalConteudoGeral .listaFiltroDetalhado li.tp4 {position:static !important;}
/* Filtro Modal */


/* feedback */
.boxCallBack{display:none;padding:0 20px 5px;}
.boxCallBack ul.listaInfo {margin-top:5px;}
.boxCallBack ul.listaInfo li {padding:3px 0;}
/* =========== ESTRUTURAS BÁSICAS =========== */

/* ========= ESTRUTURAS ESPECÍFICAS ========= */
/* Modal de atalho */
.txtPesquisar {background:url(../../images/modal/bgr_pesquisar.jpg) 0 0 no-repeat;width:400px;height:22px;}
.txtPesquisar input {background:none;border:none;padding:4px 3px 0 3px;width:394px;height:18px;font-size:100%;}

/* Modal de enviar por e-mail */
.jqmWindow .miolo .conteudoAbas {padding:20px 0 0 0;width:100%;}

/* Modal de Impressão */
.lblIcones {background:transparent url(../../images/sei/ico_boxAviso.gif) no-repeat 0 -15px;padding-left:20px;line-height:136%;display:block;}
.lblAgendamento {background-position:0 -15px;}
.lblPendente {background-position:0 0;}
.lblFinalizado {background-position:0 -30px;}
.lblFolhas1 {background:transparent url(../../images/sei/ico_folha.gif) no-repeat 12px 0;height:38px;display:block;}
.lblFolhas2 {background:transparent url(../../images/sei/ico_folha.gif) no-repeat 12px -38px;height:38px;display:block;}
.lblFolhas3 {background:transparent url(../../images/sei/ico_folha2.gif) no-repeat right 0;height:58px;display:block;}
.lblFolhas4 {background:transparent url(../../images/sei/ico_folha2.gif) no-repeat right -58px;height:58px;display:block;}
.lblFolhas5 {background:transparent url(../../images/sei/ico_folha2.gif) no-repeat right -116px;height:58px;display:block;}

.lblFolhasNew1 {background:transparent url(../../images/sei/ico_folhas.gif) no-repeat 10px 0;height:58px;display:block;width:60px;}
.lblFolhasNew2 {background:transparent url(../../images/sei/ico_folhas.gif) no-repeat 10px -58px;height:58px;display:block;width:60px;}
.lblFolhasNew3 {background:transparent url(../../images/sei/ico_folhas.gif) no-repeat 10px -174px;height:58px;display:block;width:60px;}
.lblFolhasNew4 {background:transparent url(../../images/sei/ico_folhas.gif) no-repeat 10px -116px;height:58px;display:block;width:60px;}


.boxBtnImprimir {width:230px;margin-top:10px;}
.jqmWindow .btnAutorizarAll,
.jqmWindow .btnRecusarAll {float:right;margin-left:0;}

.jqmWindow .icoAgendamento,
.jqmWindow .icoPendente,
.jqmWindow .icoFinalizado {display:block;}

/* Modal de Gráficos */
.boxFundos {border-top:1px solid #E5E5E5;width:100%;margin-top:20px;}
.boxFundos .boxFundo2,.boxFundos .boxIndice2,.boxFundos .boxRentabilidade2 {width:213px; height:127px;border-bottom:1px solid #E5E5E5;}
.boxFundos h4 {font-weight:bold;padding-bottom:5px;}
.boxFundos .boxFundo {width:300px;border-right:1px solid #E5E5E5;padding:10px 10px 0 0;}
.boxFundos .boxFundo2 {border-right:1px solid #E5E5E5;padding:10px 10px 0 0;}
.boxFundos .boxIndice {width:239px;padding-top:10px;}
.boxFundos .boxIndice2 {padding-top:10px;}
.boxFundos .boxFundo li .fundo {width:240px;}
.boxFundos .boxIndice li .fundo {width:175px;}
.boxFundos .boxRentabilidade2 {border-right:1px solid #E5E5E5;padding:10px 0 0 0;}

.lstFundos li {padding:7px 0 7px 0;clear:both;}
.lstFundos li .ico {display:block;width:11px;height:11px;text-indent:-9999px;margin:1px 10px 0 0;}
.lstFundos li .fundo {line-height:100%;}
.lstFundos li .excluir {background:url(../../images/sei/ico_formulario.gif) no-repeat 0 -55px;height:16px;float:right;}
.lstFundos li .excluir a {display:block;width:16px;height:100%;text-indent:-9999px;}


#modalSessao .icoFechar {display:none;}
/* ========= ESTRUTURAS ESPECÍFICAS ========= */