/*
	Definição de estilos próprios do aplicativo para páginas ou grupos de páginas concretas
	
	Esta StyleSheet deverá ser declarada como item de um atributo List de nome "especificCSS" 
	em seu tiles-definition correspondente (no arquivo tiles-definitions.xml)
*/

.ejemploButton {
	background-color: #E90B0B; /*rojo bradesco*/
	color:white;
	
}
.alinhaEsquerda10 {
	padding-left: 10px;
}
.alinhaEsquerda15 {
	padding-left: 20px;
}
.alinhaEsquerda15width100 {
	padding-left: 15px;
	width: 100%;
}
.pathAttention {
	background-color:#E9E9E9;
	width:745;
	padding-left: 10px;
}
.textoCentralizado60 {
	font-family: verdana; 
	font-size: 10px;
    text-align : center;
    width : 60%;
}
.textoCentralizado65 {
    text-align : center;
    width : 65%;
}
.textoCentralizado70 {
    text-align : center;
    width : 70%;
}
.textoCentralizado80 {
    text-align : center;
    width : 80%;
}
.textoCentralizado85 {
    text-align : center;
    width : 85%;
}
.textoCentralizado90 {
    text-align : center;
    width : 90%;
}
.textoCentralizado100 {
    text-align : center;
    width : 100%;
}
.textoCentralizado320 {
    text-align : center;
    width : 320;
}
.textoDireita80 {
    text-align : right;
    width : 80%;
}
.textoDireita100 {
    text-align : right;
    width : 100%;
}
.textoDireita320 {
	font-family: verdana; 
	font-size: 10px;
    text-align : right;
    width : 320;
}
.textoEsquerda100 {
    text-align : left;
    width : 100%;
}
.textoAltoDireita{
	text-align:top right;
}
.textoAcima {
	vertical-align: top;
}
.textoAbaixo {
	vertical-align: bottom;
}
.textoMeio {
	vertical-align: middle;
}

.linhaPrincipal {
	background-color:#FFFFFF;
	background-image: url(../imagens/linha_principal.jpg);
	height: 1px;
	width: 100%;
	margin-top: 5px;
	margin-bottom: 9px;
}

.linhaPrincipalPosLabel {
	background-color:#FFFFFF;
	background-image: url(../imagens/linha_principal.jpg);
	height: 1px;
	width: 100%;
	margin-top: 1px;
	margin-bottom: 6px;
}

.linhaDivisaoManterLista {
	background-color:#FFFFFF;
	background-image: url(../imagens/linha_principal.jpg);
	background-repeat: repeat-x;
	height: 1px;
	width: 100%;
	margin-top: 5px;
	margin-bottom: 7px;
}

.linhaPrincipalPreCampo {
	background-color:#FFFFFF;
	background-image: url(../imagens/linha_principal.jpg);
	height: 1px;
	width: 100%;
	margin-top: 6px;
	margin-bottom: 9px;
	
}

.linhaPrincipalPreCampoTable {
	background-color:#FFFFFF;
	background-image: url(../imagens/linha_principal.jpg);
	height: 1px;
	width: 752px;
	margin-top: 6px;
	margin-bottom: 9px;	
}

.linhaPrincipalPreCombo {
	background-color:#FFFFFF;
	background-image: url(../imagens/linha_principal.jpg);
	height: 1px;
	width: 100%;
	margin-top: 5px;
	margin-bottom: 9px;
}

.bullet {
	position: static;
	text-align: left;
	width : 5px;
	height: 5px;
}

.calendar {
	width : 18px;
	height: 18px;
}	

.buttonPaginacao {
	background-image:url(../imagens/bt_padrao.gif);
	height:21px;
	font-family: verdana;
	font-size: 10px;
	text-align : center;
	color: #000000;
	overflow:visible;
	width: auto;
	padding-left: 7px;
	padding-right: 7px;
	text-decoration: none;
}

.buttonPaginacaoDesab {
	background-image:url(../imagens/bt_padrao.gif);
	height:19px;
	padding-top:4px;
	padding-bottom:5px;
	font-family: verdana; 
	font-size: 10px;
    text-align : right;
	color: #C6C6CB;
	border: 1;
	border-color:#C6C6CB;
	border-style: solid;
	border-width: 1px;	
	margin-right: 5px;
	margin-top: 5px;
}
.buttonRodape {
	background-image:url(../imagens/bt_padrao.gif);
	height:19px;
	padding-top:4px;
	padding-bottom:5px;
	font-family: verdana; 
	font-size: 10px;
    text-align : right;
	color: #000000;
	border: 1;
	border-color:#000000;
	border-style: solid;
	border-width: 1px;	
	margin-right: 5px;
	margin-top: 5px;
	margin-bottom: 4px;
}
.buttonRodapeDesab {
	background-image:url(../imagens/bt_padrao.gif);
	height:19px;
	padding-top:4px;
	padding-bottom:5px;
	font-family: verdana; 
	font-size: 10px;
    text-align : right;
	color: #C6C6CB;
	border: 1;
	border-color:#C6C6CB;
	border-style: solid;
	border-width: 1px;	
	margin-right: 5px;
	margin-top: 5px;
	margin-bottom: 4px;
}
.buttonRodapeForCmdBtn {
	background-image:url(../imagens/bt_padrao.gif);
	height:19px;
	padding-top:4px;
	padding-bottom:5px;
	font-family: verdana; 
	font-size: 10px;
    text-align : right;
	color: #000000;
/*	border: 1;
	border-color:#000000;
	border-style: solid;
	border-width: 1px;	
	margin-right: 5px;
	margin-top: 5px;*/
}
.buttonPrimario {
	background-image:url(../imagens/bt_padrao.gif);
	height:19px;
	padding-top:4px;
	padding-bottom:5px;
	padding-left:9px;
	padding-right:9px;
	font-family: verdana; 
	font-size: 10px;
    text-align : right;
	color: #000000;
	border: 1;
	border-color:#000000;
	border-style: solid;
	border-width: 1px;	
	margin-left: 10px;
	margin-top: 5px;
}



.button {
	background-image:url(../imagens/bt_padrao.gif);
	height:21px;
	font-family: verdana;
	font-size: 10px;
	text-align : center;
	color: #000000;
	overflow:visible;
	width: auto;
    #width: 1px; 
    _width: 1px;
	padding-left: 7px;
	padding-right: 7px;
	text-decoration: none;
	
}

.buttonEspacado {
	background-image:url(../imagens/bt_padrao.gif);
	height:21px;
	font-family: verdana;
	font-size: 10px;
	text-align : center;
	color: #000000;
	overflow:visible;
	width: auto;
    #width: 1px; 
    _width: 1px;
	padding-left: 7px;
	padding-right: 7px;
	text-decoration: none;
	margin-left: 3px;
}

.buttonMouseOver {
	background-image:url(../imagens/bt_padrao.gif);
	height:21px;
	font-family: verdana;
	font-size: 10px;
	text-align : center;
	color: #000000;
	overflow:visible;
	width: auto;
    #width: 1px; 
    _width: 1px;
	padding-left: 7px;
	padding-right: 7px;
	text-decoration: underline;
}

.buttonMouseOverEspacado {
	background-image:url(../imagens/bt_padrao.gif);
	height:21px;
	font-family: verdana;
	font-size: 10px;
	text-align : center;
	color: #000000;
	overflow:visible;
	width: auto;
    #width: 1px; 
    _width: 1px;
	padding-left: 7px;
	padding-right: 7px;
	text-decoration: underline;
	margin-left: 3px;
}

.buttonDisabled {
	background-image:url(../imagens/bt_padrao.gif);
	height:21px;
	font-family: verdana;
	font-size: 10px;
	text-align : center;
	color: #BBBBBB;
	text-decoration: underline;
	overflow:visible;
	width: auto;
    #width: 1px; 
    _width: 1px;
	padding-left: 7px;
	padding-right: 7px;
}

.HtmlOutputTextBradescoLeft5{font-family: verdana, Arial, Helvetica, sans-serif; font-size: 12px; padding-left: 5px;}
.HtmlOutputTextBradescoLeft10{font-family: verdana, Arial, Helvetica, sans-serif; font-size: 12px; padding-left: 10px;}
.Left60{font-family: verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight:bold;padding-left: 60px;}
.HtmlOutputTextBradescoRight10{font-family: verdana, Arial, Helvetica, sans-serif; font-size: 12px; padding-right: 10px;}
.HtmlOutputTextBradescoLeftRight10{font-family: verdana, Arial, Helvetica, sans-serif; font-size: 12px; padding-right: 10px;padding-left: 10px;}
.HtmlOutputTextBradescoLeft220{font-family: verdana, Arial, Helvetica, sans-serif; font-size: 12px; padding-left: 220px;}

.color_red{ color: red; }
.color_red_force{ color: red !important; }
.color_black{ color: black; }
.color_black_force{ color: black !important; }

.label_red { color: #E90B0B }

.border_none{ border-style: none; }
.borderR_none{ border-right-style: none; }
.borderL_none{ border-left-style: none; }
.borderT_none{ border-top-style: none; }
.borderB_none{ border-bottom-style: none; }
.border_simple{ border: solid #000000 1px;}
.borderL_simple{ border-left: solid #000000 1px; }
.borderR_simple{ border-right: solid #000000 1px; }
.borderT_simple{ border-top: solid #000000 1px; }
.borderB_simple{ border-bottom: solid #000000 1px; }
.border_none_force{ border-style: none !important; }
.borderR_none_force{ border-right-style: none !important; }
.borderL_none_force{ border-left-style: none !important; }
.borderT_none_force{ border-top-style: none !important; }
.borderB_none_force{ border-bottom-style: none !important; }
.border_simple_force{ border: solid #000000 1px !important; }
.borderL_simple_force{ border-left: solid #000000 1px !important; }
.borderR_simple_force{ border-right: solid #000000 1px !important; }
.borderT_simple_force{ border-top: solid #000000 1px !important; }
.borderB_simple_force{ border-bottom: solid #000000 1px !important; }

.width1_force{ width: 1% !important; }
.width2_force{ width: 2% !important; }
.width3_force{ width: 3% !important; }
.width4_force{ width: 4% !important; }
.width5_force{ width: 5% !important; }
.width6_force{ width: 6% !important; }
.width7_force{ width: 7% !important; }
.width8_force{ width: 8% !important; }
.width9_force{ width: 9% !important; }
.width10_force{ width: 10% !important; }/*100% / 10*/
.width11_force{ width: 11% !important; }/*100% / 9*/
.width12_force{ width: 12% !important; }/*100% / 8*/
.width14_force{ width: 14% !important; }/*100% / 7*/
.width15_force{ width: 15% !important; }
.width16_force{ width: 16% !important; }/*100% / 6*/
.width20_force{ width: 20% !important; }/*100% / 5*/
.width23_force{ width: 23% !important; }
.width25_force{ width: 25% !important; }/*100% / 4*/
.width30_force{ width: 30% !important; }
.width33_force{ width: 33% !important; }/*100% / 3*/
.width34_force{ width: 34% !important; }/*100% / 3*/
.width35_force{ width: 35% !important; }
.width40_force{ width: 40% !important; }
.width45_force{ width: 45% !important; }
.width50_force{ width: 50% !important; }/*100% / 2*/
.width55_force{ width: 55% !important; }
.width60_force{ width: 60% !important; }
.width65_force{ width: 65% !important; }
.width70_force{ width: 70% !important; }
.width75_force{ width: 75% !important; }
.width80_force{ width: 80% !important; }
.width85_force{ width: 85% !important; }
.width90_force{ width: 90% !important; }
.width95_force{ width: 95% !important; }
.width97_force{ width: 97% !important; }
.width98_force{ width: 98% !important; }
.width100_force{ width: 100% !important; }
.width1{ width: 1%; }
.width2{ width: 2%; }
.width3{ width: 3%; }
.width4{ width: 4%; }
.width5{ width: 5%; }
.width6{ width: 6%; }
.width7{ width: 7%; }
.width8{ width: 8%; }
.width9{ width: 9%; }
.width10{ width: 10%; }/*100% / 10*/
.width11{ width: 11%; }/*100% / 9*/
.width12{ width: 12%; }/*100% / 8*/
.width14{ width: 14%; }/*100% / 7*/
.width15{ width: 15%; }
.width16{ width: 16%; }/*100% / 6*/
.width20{ width: 20%; }/*100% / 5*/
.width23{ width: 23%; }
.width25{ width: 25%; }/*100% / 4*/
.width30{ width: 30%; }
.width33{ width: 33%; }
.width34{ width: 34%; }
.width35{ width: 35%; }
.width40{ width: 40%; }
.width45{ width: 45%; }
.width48{ width: 48%; }
.width50{ width: 50%; }/*100% / 2*/
.width55{ width: 55%; }
.width60{ width: 60%; }
.width65{ width: 65%; }
.width70{ width: 70%; }
.width75{ width: 75%; }
.width80{ width: 80%; }
.width85{ width: 85%; }
.width90{ width: 90%; }
.width95{ width: 95%; }
.width97{ width: 97%; }
.width98{ width: 98%; }
.width100{ width: 100%; }

.noMargin{
	margin: 0px 0px 0px 0px;
}
.noMargin_top{
	margin-top: 0px;
}
.noMargin_bottom{
	margin-bottom: 0px;
}
.noMargin_left{
	margin-left: 0px;
}
.noMargin_right{
	margin-right: 0px;
}
.marginT_1px{
	margin-top: 1px;
}
.marginT_2px{
	margin-top: 2px;
}
.marginT_3px{
	margin-top: 3px;
}
.marginT_10px{
	margin-top: 10px;
}
.marginT_15px{
	margin-top: 15px;
}
.marginT_20px{
	margin-top: 20px;
}
.marginT_30px{
	margin-top: 30px;
}
.marginR_5px{
	margin-right: 15px;
}
.marginR_5px_force{
	margin-right: 15px;
}
.marginR_15px{
	margin-right: 15px;
}
.marginR_20px{
	margin-right: 20px;
}
.marginR_10px{
	margin-right: 10px;
}
.marginB_1px{
	margin-bottom: 1px;
}
.marginB_2px{
	margin-bottom: 2px;
}
.marginB_3px{
	margin-bottom: 3px;
}
.marginB_5px{
	margin-bottom: 5px;
}
.marginB_10px{
	margin-bottom: 10px;
}
.marginB_15px{
	margin-bottom: 15px;
}
.marginB_30px{
	margin-bottom: 30px;
}
.marginL_1px{
	margin-left: 1px;
}
.marginL_4px{
	margin-left: 4px;
}
.marginL_5px{
	margin-left: 5px;
}
.marginL_10px{
	margin-left: 10px;
}
.marginL_15px{
	margin-left: 15px;
}
.marginL_16px{
	margin-left: 16px;
}
.marginL_20px{
	margin-left: 20px;
}
.noPadding{
	padding: 0px 0px 0px 0px;
}
.noPadding_force{
	padding: 0px 0px 0px 0px !important;
}
.paddingT_10px{
	padding-top: 10px;
}
.paddingT_20px{
	padding-top: 20px;
}
.paddingT_30px{
	padding-top: 30px;
}
.paddingR_2px{
	padding-right: 2px;
}
.paddingR_5px{
	padding-right: 5px;
}
.paddingR_10px{
	padding-right: 10px;
}
.paddingR_20px{
	padding-right: 20px;
}
.paddingR_20px_force{
	padding-right: 20px !important;
}
.paddingR_25px{
	padding-right: 25px;
}
.paddingR_50px{
	padding-right: 50px;
}
.paddingB_1px{
	padding-bottom: 1px;
}
.paddingB_7px{
	padding-bottom: 7px;
}
.paddingB_10px{
	padding-bottom: 10px;
}
.paddingB_15px{
	padding-bottom: 15px;
}
.paddingB_30px{
	padding-bottom: 30px;
}
.paddingL_2px{
	padding-left: 2px;
}
.paddingL_5px{
	padding-left: 5px;
}
.paddingL_10px{
	padding-left: 10px;
}
.paddingL_15px{
	padding-left: 15px;
}
.paddingL_20px{
	padding-left: 20px;
}
.paddingL_50px{
	padding-left: 50px;
}

.textoDireita {
    text-align : right;
}
.textoEsquerda {
    text-align : left;
}
.textoEsquerda_force {
    text-align : left !important;
}
.textoCentralizado {
    text-align : center;
}
.textoJustificado {
    text-align : justify;
}

.display_none {
	display: none;
}

.display_runIn {
	display: table-row-group !important;
	background-color: #d0000d;
	background-color: #deeeed;
}
.display_inline {
	display: inline-table !important;
	background-color: #deeeed;
	background-color: #d0000d;
}

.screenMessage {
	font-family: verdana; 
	font-size: 16px;
	font-weight: bolder;
}

.nowrap {
	white-space: nowrap;
}

.inlined_grid_L {
	float: left;
	display: inline;
}

.tmp1{background-color: lime;}
.tmp2{background-color: yellow;}
.tmp3{background-color: green;}
.tmp4{background-color: aqua;}

.gridCalendar {
	margin-top: 3px;
	border-collapse: collapse;
}

.input_date, select {
	 margin-top: 5px;
	 height: 19px;
}

.scrollableColumnClass {
	 white-space:nowrap;
}

.linhaPrincipalPreCampo {
	background-color:#FFFFFF;
	background-image: url(../imagens/linha_principal.jpg);
	height: 1px;
	width: 100%;
	margin-top: 6px;
	margin-bottom: 9px;
	
}

.abaPanelGrid {
	margin-top: -2px; 
	background-color:#FFFFFF;
}

.abaDiv {
	border: solid;  
	border-width: 2px; 
}
