.uiModalMessagesMainDivIntranet {
	width:360px;
	height:80px;
	background-color:#ffffff;
	color: #555555;
	border:3px solid #ccc;
	font-family: Verdana;
	font-size: 9px;
	font-weight: bold;
	text-align: justify;
	border: 1px solid #C6C6CB;
	padding: 8px;
}

.uiModalMessagesHeaderDivIntranet {
	border: 0px solid black;
	font-weight: bold;
	font-size: 12px;
	vertical-align: middle;
}

.uiModalMessagesBodyDivIntranet {
	border: 1px solid white;
	background-color: white;
	margin: 10px 0px 5px 0px;
}

.uiModalMessagesBodyDivIntranet p {
	padding: 8px 15px 8px 15px;
	margin: 0px;
	border: 0px solid black;
}

.uiModalMessagesOkButtonIntranet {
	width: 56px;
}

.uiModalMessagesFooterDivIntranet {
	border-top: 1px solid black;
	text-align: center;
	padding: 3px 0px 0px 0px;
}

.uiModalMessagesTextIntranet {
	font-weight: bold;
	font-size: 10px;
}