BradescoLDAPLogin {
	br.com.bradesco.web.aq.application.security.intranet.loginmodules.impl.BradescoIntranetLdapLMImpl REQUIRED
	connection.url = "ldap://localhost:389"
	connection.username = "cn=Manager,ou=pessoas,dc=capgemini,dc=com"
	connection.password = "secret"
	authentication = "simple"
	user.base.dn = "ou=pessoas,dc=capgemini,dc=com"
	user.tree.properties = "cn,sn"
	user.useuppercase = "true"
	user.filter = "(uid={0})"
	user.fullNameLocalization = "sn"
	role.base.dn = "ou=grupos,dc=capgemini,dc=com"
	role.filter = "(member=uid={0})"
	role.name.attribute = "cn";
};

BradescoMockLogin {
	br.com.bradesco.web.aq.application.security.intranet.loginmodules.impl.BradescoIntranetMockLMImpl REQUIRED
	mock.fileLocation = "login-mock.xml";
};