BradescoLDAPLogin {
	br.com.bradesco.web.aq.application.security.intranet.loginmodules.impl.BradescoIntranetLdapLMImpl REQUIRED
	connection.url = "ldap://localhost:10389"
	connection.username = "uid=admin,ou=system"
	connection.password = "secret"
	authentication = "simple"
	user.base.dn = "ou=people,dc=bradesco,dc=com,dc=br"
	user.tree.properties = "cn,sn,whatever"
	user.useuppercase = "true"
	user.filter = "(uid={0})"
	user.fullNameLocalization = "sn"
	role.base.dn = "ou=groups,dc=bradesco,dc=com,dc=br"
	role.filter = "(member={0})"
	user.search.subtree = "true"
	role.search.subtree = "true"
	role.name.attribute = "cn";
	};

BradescoMockLogin {
	br.com.bradesco.web.aq.application.security.intranet.loginmodules.impl.BradescoIntranetMockLMImpl REQUIRED
	mock.fileLocation = "login-mock.xml";
};